*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: white;
    font-size: 18px;
}

/* header */

header{
    background-color: #ff3b3c;
    color: white;
    height: 150px;
    padding: 20px 10%;
}
header .container{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}
.header-logo img{
    width: 200px;
}
.header-input{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.header-input input{
    border-radius: 10px;
    border: none;
    padding: 15px 50px;
    box-sizing: border-box;
}
.header-icons{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.header-icons i{
    font-size: 22px;
    color: white;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}
.header-nav a{
    color: white;
    text-decoration: none;
}
.header-nav li{
    list-style: none;
}
.header-nav a:hover{
    color: blue;
    transition: all 0.5s ease;
}

/* section img-hero */
/*para details se borro esta seccion*/

/* main */
main{
    padding: 50px;
    height: auto;
}
main .columns-container{
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 50px;
}
.product-images-block,
.product-description-block,
.product-checkout-block{
    flex: 1;
    margin: 0 10px;
}
.product-images-block{
    display: grid;
    grid-template-columns: 1fr 5fr;
    max-width: 100%;
    overflow: hidden;
}
.product-images-block .thumbnail-container{
    grid-column: 1;
    margin: 3px;
}
.product-images-block .thumbnail-container img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center center;
}
.product-images-block .main-image{
    width: 100%;
    grid-row: 1 / 5;
    grid-column: 2 / 5;
}
.product-description-block .description{
    margin-top: 35px;
}
.product-description-block .title {
    color: #333; /* Elige un color adecuado */
    font-size: 24px; /* Ajusta el tamaño según sea necesario */
    font-weight: bold;
    margin-top: 0;
    word-wrap: break-word;
}
.product-description-block .selector fieldset{
    border: 2px #919191 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    border-radius: 15px;
    font-size: 15px;
    padding: 10px; 
}
.product-description-block .selector fieldset select{
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.product-description-block .description p{
    color: #646464;
    font-size: 16px;
    font-weight: lighter;
    word-wrap: break-word;
    text-align: justify;
}
/* checkout section */
.checkout-container{
    background-color: #ebebeb;
    padding: 33px;
    border-radius: 2px;
}
.checkout-total-label {
    color: #ff3b3c;
}
.checkout-total-price {
    font-size: 28px;
    font-weight: 700;
    margin-top: 10px;
}
.checkout-description {
    line-height: 20.4px;
    word-wrap: break-word;
}
.checkout-policy-list {
    list-style-type: none;
    margin-bottom: 30px;
}
.checkout-policy-list li {
    display: flex;
    margin: 15px 0;
}
.checkout-policy-list li .policy-icon {
    margin-right: 15px;
}
.checkout-process .top {
    display: flex;
    margin-bottom: 10px;
}
.checkout-process .top input {
    height: 40px;
    border-radius: 10px;
    border: none;
    width: 62px;
    margin-right: 10px;
    padding: 0 10px 0 20px;
    box-sizing: border-box;
}
.btn-primary {
    width: 100%;
    background: #ff3b3c;
    color: white;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 10px;
}
.btn-outline {
    width: 100%;
    border: 1px solid #ff3b3c;
    color: #ff3b3c;
    font-weight: bold;
    height: 40px;
    border-radius: 10px;
}

/* cards */
.sales-block{
    margin-top: 30px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    gap: 50px;
}
.sales-block h2 {
    grid-row: 1;
    grid-column: 1 /4;
    justify-self: center;
    text-align: center;
    font-size: 40px;
}
.card{
    height: auto;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 15px;
}
.card:hover{
    transform: translateY(-10px);
    /* box-shadow: 0 0 20px rgb(63, 62, 62); */
}
.card-content{
    background-color: #eae4e4;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}
.card-content p{
    font-size: 13px;
}
.card-content-precio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.card-content-precio p{
    font-size: 23px;
    font-weight: bold;
}
.card-content-precio span{
    font-weight: bold;
    color: rgb(3, 165, 3);
}

/* footer */

footer{
    background-color: #7800c8;
    color: white;
    padding: 20px 10%;
    font-size: 15px;
}
footer .container{
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    margin-bottom: 10px;
}
.footer-description h4{
    margin-bottom: 30px;
}
.footer-description h4{
    margin-bottom: 15px;
}
.derechos-autor{
    border-top: 2px solid rgb(141, 135, 135);
    text-align: center;
}
.derechos-autor p{
    margin-top: 15px;
}
/* responsive tablet*/

@media (max-width: 768px){
    header{
        height: auto;
    }
    header .container{
        flex-direction: column;
        gap: 20px;
    }
    .header-logo img{
        width: 120px;
    }
    .header-input input{
        width: 100%;
    }
    .header-icons{
        justify-content: center;
        width: 100%;
    }
    .header-nav{
        display: none;
    }
    .header-nav a{
        font-size: 15px;
    }
    .img-title{
        left: 5%;
    }
    .product-images-block{
        grid-template-rows: 20px 1fr;
    }
    .product-description-block fieldset {
        margin-top: 15px;
    }
    .product-description-block .description{
        margin-top: 15px;
    }
    .product-checkout-block{
        flex: auto;
        max-width: 100%;
        margin-top: 15px;
    }
    .sales-block{
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
    .sales-block h2 {
        font-size: 20px;
        grid-column: 1 / 3;
    }
    .card-content p{
        font-size: 12px;
    }
    .card-content-precio p{
        font-size: 20px;
    }
    footer .container{
        flex-direction: column;
        gap: 20px;
    }
    .footer-description h4{
        text-align: center;
        font-weight: bold;
    }
    .footer-description p{
        text-align: center;
    }
}

/*responsive celular*/
@media (max-width: 425px) {
    .product-checkout-block, .product-description-block {
        flex: none;
        max-width: 100%;
    }
    .product-images-block {
        grid-template-rows: 20px 1fr;
    }
    .product-description-block .title {
        margin-top: 10px;
        font-size: 16px;
    }
    .product-description-block .selector fieldset {
        font-size: 12px;
    }
    .product-description-block .selector fieldset select {
        font-size: 12px;
    }
    .product-description-block .description h1 {
        font-size: 16px;
    }
    .product-description-block .description p {
        font-size: 12px;
    }
    .checkout-container {
        font-size: 12px;
    }
    .sales-block {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 0;
    }
    .sales-block h2 {
        font-size: 16px;
        grid-column: 1;
        height: 40px;
    }
}